@import "compass";
@include global-reset;

@import "custom/colors";
@import "custom/fonts";
@import "custom/layout";
@import "base";
@import "partials";
@import "plugins/**/*";
@import "custom/styles";

.hd-image {
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 2px;
}
